---
import favicon from "assets/xo.svg"
import faviconX from "assets/x.svg"
import faviconO from "assets/o.svg"
import confettiPop from "assets/confetti pop.webm"
import childrenCheering from "assets/children cheering.webm"
import { h } from "preact"
import { renderToString } from "preact-render-to-string"
import { MainMenuSSR } from "components/Menus.tsx"
import font from "font:family=Sue Ellen Francisco"
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Tic Tac Toe</title>
		<meta name="description" content="Enjoy the classic game of Tic Tac Toe in your browser! Play against friends or use random matchmaking and beat them all to pulp!."/>
		<link rel="icon" type="image/svg+xml" href={favicon.src} />
		<link rel="prefetch" href={faviconX.src}/>
		<link rel="prefetch" href={faviconO.src}/>
		<link rel="prefetch" href={confettiPop}/>
		<link rel="prefetch" href={childrenCheering}/>
		<link rel="preload" as="font" type="font/woff2" href={font} crossorigin/>
		<style is:global>
			@import url("../tokens.css") layer(tokens);
			@layer fonts {
				@font-face {
					font-family: "Sue Ellen Francisco";
					font-style: normal;
					font-weight: 400;
					font-display: swap;
					src: url("font:family=Sue Ellen Francisco") format("woff2");
					unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
				}
				@font-face {
					font-family: "Outfit";
					font-style: normal;
					font-weight: 700;
					font-display: swap;
					src: url("font:family=Outfit:wght@700&text=CopyShareChange NameLightDarkMode") format("woff2");
					unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
				}
				@font-face {
					font-family: "Material Symbols Rounded";
					src: url("font:family=Material Symbols Rounded&icon_names=close,content_copy,dark_mode,edit,invert_colors,ios_share,light_mode,palette") format("woff2");
				}
			}
			@layer page {
				:root {
					color-scheme: light dark;
					interpolate-size: allow-keywords;
				}
				:root[data-light] {
					color-scheme: light;
				}
				:root[data-dark] {
					color-scheme: dark;
				}
				body {
					display: grid;
					place-items: center;
					height: 100dvh;
					margin: 0;
					background: var(--primary-container);
					transition: background 250ms;
					font-family: "Sue Ellen Francisco";
					font-size: 2rem;
				}
				@keyframes ellipsis {
					0%, 32% { content: "." }
					34%, 66% { content: ".." }
					68%, 100% { content: "..." }
				}
			}
		</style>
		<script>
			import { h, render } from "preact"
			import "@preact/signals"
			import { MainMenu } from "components/Menus.tsx"

			if ("Iterator" in window === false) await import("lib/iterator-helpers-polyfill.ts")

			render(h(MainMenu, {}), document.body)
		</script>
		<script>
			import sw from "../service-worker.ts?worker&url"

			if (import.meta.env.PROD) {
				const { serviceWorker } = navigator
				const { controller } = serviceWorker
				if (controller && controller.scriptURL.endsWith(sw) === false) {
					serviceWorker
						.getRegistrations()
						.then(regs => Promise.all(regs.map(reg => reg.unregister())))
						.then(() => serviceWorker.register(sw, { scope: "/", type: "module" }))
				} else {
					serviceWorker.register(sw, { scope: "/", type: "module" })
				}
			}
		</script>
	</head>
	<body
		><Fragment set:html={renderToString(h(MainMenuSSR, {}))}
	/></body>
</html>
